.home{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-container{
    margin: 2vh 0;
    width: 70%;
    height: 86vh;
    display: flex;
    padding: 1.5rem 1rem;
    border-radius: 15px;
    gap: 1rem;
}

.leftside{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-heading-top{
    display: flex;
    gap: 0.5rem;
}

.left-heading-top>h1{
    font-size: large;
    font-weight: 600;
}

.left-heading-bottom{
    display: flex;
    gap: 0.5rem;
}

.left-heading-bottom>label>span:first-child{
    font-weight: 600;
}

.left-heading-bottom>label>span:last-child{
    font-weight: 400;
}

.left-body{
    height: 100%;
    overflow-y: auto;    
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}

.left-body>button{
    border-radius: 15px;
}

.rightside{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.right-side-logo{
    padding: 0.3rem;
    border-radius: 10px;
    background-color: var(--color-secondary);
}

.right-side-container>h1{
    font-size: larger;
    font-weight: 700;
}

.right-side-container>p{
    font-weight: 400;
}

  

